@import url("https://fonts.googleapis.com/css2?family=Comforter&display=swap");

.navbar {
    top: 0;
    display: flex;
    z-index: 10000;
    font-size: 1.2rem;
    position: fixed;
    width: 100%;
}

.nav-container {
    align-items: center;
    background-color: #121212;
    width: 100%;
    display: flex;
}

.always-there {
    display: flex;
    width: 50%;
}

.nav-logo-container {
    width: 20%;
    justify-content: right;
    flex-grow: 1;

    font-size: 2rem;
    margin: 0.5rem;
    cursor: pointer;
}

.nav-logo {
    text-decoration: none;
    color: rgb(72, 211, 134);
    font-family: "Comforter", cursive;
}

.search {
    align-items: center;
    height: 60px;
    display: flex;
    justify-content: center;
    width: 60%;
}

form {
    width: 90%;
    justify-content: left;
    display: flex;
    align-items: center;
    height: 100%;
}

.search-icon {
    width: 10%;
    display: flex;
    justify-content: center;
}

.search-icon:hover {
    cursor: pointer;
}

.navbar .fa-search {
    color: rgb(72, 211, 134);
}

.navbar .fa-times {
    color: rgb(72, 211, 134);
}

#nav-search {
    border-radius: 10px;
    border-color: rgb(72, 211, 134);
    width: 80%;
    height: 50%;
    font-size: medium;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    display: none;
}

.menu-pop {
    display: none;
}

.menu {
    display: flex;
    justify-content: right;
    width: 50%;
}

.menu-condensed {
    display: flex;
    justify-content: right;
    width: 50%;
}

.nav-menu {
    height: 60px;
    align-items: center;
    display: flex;
    list-style: none;
}

.nav-item {
    display: flex;
    align-items: center;
    color: rgb(72, 211, 134);
    transition: 300ms;
}

.nav-item:hover {
    background-color: #68686833;
    border-radius: 10px;
    transform: translateY(-1px);
    color: rgb(39, 250, 84);
}

.nav-item .active {
    color: rgb(39, 250, 84);
}

.nav-links {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    height: 100%;
    border-bottom: 3px solid transparent;
    font-family: "Comforter", cursive;
    font-size: 1.57rem;
}

#signout:hover {
    cursor: pointer;
}

@media only screen and (max-width: 990px) {
    .navbar {
        position: relative;
    }

    .nav-container {
        align-items: center;
        width: 100%;
        display: block;
    }

    .always-there {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .nav-logo-container {
        width: 38%;
    }

    .search {
        width: 40%;
    }

    .menu-pop {
        display: flex;
        width: 18%;
        justify-content: center;
    }

    .nav-menu {
        border-radius: 5px;
        height: 270px;
    }

    .menu {
        border-radius: 5px;
        display: block;
        justify-content: right;
        width: 100%;
        background-color: #202020;
    }

    .menu ul {
        display: block;
    }

    .menu ul li {
        display: flex;
        justify-content: center;
    }

    .menu-condensed {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .search {
        display: none;
    }
}
